@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="@Url.Content("~/images/home/greenplantas.png")" alt="GreenSeed Logo" class="img-fluid" />
</div>

<div class="container mt-4" style="max-width: 800px; text-align: left;">
    <h2 class="text-center">Bem-vindo ao GreenSeed!</h2>
    <div>
        <p>  </p>
    </div>
    <p>Ama plantas, flores e tudo que é verde? Então você está no lugar certo! Ao <a asp-area="Identity" asp-page="/Account/Register">criar uma conta</a>, você poderá:</p>
    <ul>
        <li>Explorar nossa loja online e descobrir produtos incríveis para o seu jardim.</li>
        <li>Compartilhar fotos de plantas que não consegue identificar e receber ajuda da comunidade.</li>
        <li>Participar de desafios diários e testar seus conhecimentos sobre o mundo vegetal.</li>
        <li>Gerenciar seu carrinho de compras e acompanhar suas encomendas facilmente.</li>
        <li>Acessar áreas exclusivas e aproveitar todas as funcionalidades do site.</li>
    </ul>
    <p>
        <a asp-area="Identity" asp-page="/Account/Register">Junte-se a nós</a> e faça parte dessa comunidade apaixonada pela natureza. Crie sua conta agora e comece a explorar!
    </p>
</div>
