@{
    ViewData["Title"] = "Política de Privacidade";
}

<h1>@ViewData["Title"]</h1>

<p>No GreenSeed, respeitamos sua privacidade e estamos comprometidos em protegê-la. As informações que coletamos são utilizadas apenas para melhorar sua experiência em nosso site e fornecer os serviços que você solicitou.</p>

<p>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para processar suas encomendas ou cumprir obrigações legais. Utilizamos medidas de segurança apropriadas para proteger seus dados contra acesso não autorizado.</p>

<p>Ao utilizar nossa plataforma, você concorda com os termos desta política de privacidade. Se tiver alguma dúvida ou preocupação, por favor, entre em contato conosco.</p>
