@model Category

@{
    ViewBag.Title = "Excluir Categoria";
}

<h1>Excluir Categoria</h1>

<h3>Tem certeza de que deseja excluir esta categoria?</h3>

<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>

    @if (Model.Products != null && Model.Products.Any())
    {
        <div class="alert alert-warning">
            <strong>Atenção:</strong> Esta categoria possui produtos associados. Você não pode excluí-la.
        </div>
    }
    

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CategoryId" />

        <button type="submit" class="btn btn-danger" @(Model.Products != null && Model.Products.Any() ? "disabled" : "")>Excluir</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
