@model Category
@{
    ViewBag.Title = $"Apagar {Model.Name}";
}
<h3>Tem a certeza que quer apagar?</h3>
<div>
    <h4>@Model.Name</h4>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Back to List</a>
    </form>
</div>